@charset "UTF-8";
h1 {
	font-family: 'Teio';
	font-size: 30px;
	color: silver;
}

body {
	background-image: url("../images/space.gif");
	background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
    
    font-family: 'andromeda';
	font-size: 18px;
	color: white;
}