@charset "UTF-8";

h1 {
	font-family: 'Teio';
	font-size: 50px;
	color: silver;
	text-align: center;
}

body {
	background-image: url("../images/space.gif");
	background-size: cover;
	image-align: left;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'andromeda';
	color: white;
}

p {
	font-size: 130%;
}

table {
	width: 100%;
	text-align: left;
}

.space-table {
	color: #FFFFFF;
}

.space-table>tbody>tr>td, .space-table>tbody>tr>th, .space-table>tfoot>tr>td,
	.space-table>tfoot>tr>th, .space-table>thead>tr>td, .space-table>thead>tr>th
	{
	border-color: #FFFFFF;
}

th {
	text-align: left;
}

td {
	height: 50px;
	align: left;
	font-size: 120%;
}

p:before {
	content: "\a";
	white-space: pre;
}